<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hi.dear">

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiDear">
        <activity android:name=".ui.activity.main.MainActivity" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HiDear.NoActionBar"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.HiDear.NoActionBar"
            android:name=".ui.activity.register.RegistrationActivity"
            android:exported="true" />
        <activity
            android:theme="@style/Theme.HiDear.NoActionBar"
            android:name=".ui.activity.forgot.ForgotActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.splash.SplashScreenActivity"
            android:theme="@style/Theme.HiDear.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>